.todo_conteiner {
  display: flex;
  justify-content: space-between;
  border: 2px solid grey;
  border-radius: 5px;
  background: white;
  color: rgb(88, 88, 88);
  width: 45%;
  margin: 10px auto;
  padding: 5px;
  text-align: center;
  align-items: center;
}
.todo_completed {
  background: rgb(0, 64, 128);
}
.todo_icon {
  font-size: 1.3rem;
  color: grey;
}
.todo_icon_check {
  margin-right: 5px;
}
.todo_icon_check:hover {
  font-size: 1.5rem;
  color: green;
}
.todo_icon_delete {
  margin-right: 5px;
}
.todo_icon_delete:hover {
  font-size: 1.5rem;
  color: red;
}
