.App {
  text-align: center;
}
.todo_add {
  display: flex;
  justify-content: space-between;
  color: rgb(88, 88, 88);
  width: 40%;
  margin: 10px auto;
  padding: 10px;
}
.todo_add_input {
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  border: 2px solid grey;
}
